LIBRE_USERNAME=someone@example.com
LIBRE_PASSWORD=examplePassword

EMAIL_SENDER=sender@example.com

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=fakefakefake
AWS_ACCESS_KEY_ID=fakefakefake
AWS_SECRET_ACCESS_KEY=fakefakefake
